html {
  background-color:  rgb(195, 230, 230);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  align-content: start;
  grid-template-areas:
    "top top top top top"
    "IDK total total upgrades upgrades"
    "IDK button button upgrades upgrades"
    "IDK button button upgrades upgrades"
    "bottom bottom bottom bottom bottom";
}

.top { grid-area: top; }

.bottom { grid-area: bottom; }

.button { grid-area: button; }

.total { grid-area: total; }

.upgrades { grid-area: upgrades; }

.IDK { grid-area: IDK; }


.codebox {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 40px;
  width: 40px;
  border: 1px;
  background-color: aliceblue;
}



.name {
  text-align: center;
  font-size: 60px;
  color: hsla(0, 0%, 0%, 0.8);
  
}


.version {
  position: absolute;
  left: 110px;
  top: 15px;
}
.box {   background: transparent;
  border: none !important;
  font-size:0;}

.buybox {
  height: 20px;
  width: 40px;
  border-radius: 10%;
  border: 1px solid;
  background-color: grey;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

